body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*footer_______________________________*/
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color:  #113F67;
    border-top: 1px solid #ddd; 
}
/*Fooldal______________________*/
.FooldalLogo{
    width: 600px;
    margin-top: 280px;
}
#FooldalKeret{
    
    margin-top: 15px;
}
#FooldalSzlogen{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: #113F67;
    margin-top: 10px;
    font-size: 15px;
}
.FooldalGomb{

    background-color: #113F67;
    color: white;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    border: 0px;
    padding: 5px;
    margin-top: 10px;
    padding: 10px;
    transition: background-color 0.3s;
}
.FooldalGomb:hover {
    background-color: lightskyblue; 
    border: 0px;
    color: black;
}
/* Telefonos méret*/
@media (max-width: 768px) {
    .FooldalLogo {
        width: 80%;
        margin-top: 200px;
        
    }

    #FooldalSzlogen {
        font-size: 12px;
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .FooldalGomb {
        font-size: 12px;
        padding: 8px 15px;
    }

    footer {
        font-size: 12px;
        padding: 8px 0;
    }
}

/*Menu______________________________*/
.sunshineLogo{
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#kezdolapMenu{
    font-weight: bold;
    color: #113F67;
}
#kezdolapMenu:hover{
    color: lightskyblue;
}
.menuk{
    color: #113F67;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.menuk:hover{
    color: lightskyblue;
}
#menu-indicator {
    position: relative;
    height: 3px;
    background-color: #113F67;
    width: 0;
    transition: all 0.3s ease;
    top: 3px;
    margin-top: -3px;
}
/*Kezdolap.html_______________*/
#sh_epulet{
    width: 450px;
    border-radius: 10px;
    margin-left: 105px;
    margin-top: 25px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, lightcyan 40%, transparent 50%) 2;  
    clip-path: inset(0 round 20px);
}
#bemutatkozoCim{
    font-variant: small-caps;
    margin-left: 15px;
    margin-top: 15px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: #113F67;
}
#bemutatkozoSzoveg{
    margin-top: 10px;
    margin-left: 15px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    text-align: justify;
}
#bemutatkozoKeret{
    border-radius: 10px;
    background-color: lightcyan;
    margin-left: -65px;
    margin-top: 25px;
    margin-right: -370px;
}
#kezdolapIdopontGomb{
    margin-top: 30px;
    margin-left: 15px;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: #113F67;
    border: none;
    border-radius: 45px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    font-variant: small-caps;
    transition: background-color 0.3s;
}

#kezdolapIdopontGomb:hover{
    background-color: lightskyblue; 
    border: 0px;
    color: #000;
}
#forovos2{
    width: 450px;
    border-radius: 10px;
    margin-left: 390px ;
    margin-top: 25px;
    border: 5px solid transparent;
    border-image: linear-gradient(to left, lightcyan 40%, transparent 50%) 2;  
    clip-path: inset(0 round 20px);
}

#bemutatkozoSzoveg2{
    margin-top: 10px;
    margin-left: 5px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    
}
#bemutatkozoKeret2{
    border-radius: 10px;
    background-color: lightcyan;
    margin-left: 115px;
    margin-top: 25px;
    margin-right: -370px;
}
.szakkKep{
    height: 69px;
    width: 79px;
    margin: 5px;
    margin-bottom: 15px;
}
#szakBovebben{
    margin-top: 12px;
    margin-left: 5px;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #113F67;
    border: none;
    border-radius: 15px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: background-color 0.3s;
}
#szakBovebben:hover{
    background-color: lightskyblue; 
    border: 0px;
    color: #000;
}


/*Orvosok.html_______________*/
.containerOrvosok {
    justify-content: center;
}
.contentOrvosok {
    max-width: 1200px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.orvosokMunka{
    width: 200px;
    margin-left: 20px;
    height: 140px;
}
.orvosKep{
    width: 250px;
    height: 270px;
    border-radius: 3px;
    margin-top: 12px;
}
.orvosNev{
    text-align: center;
    margin-top: 12px;
    font-weight: bold;
}
.orvosSzakterulet{
    text-align: center;
}
.adatok{
    background-color: lightcyan;
    padding: 25px;
    margin: 20px;
}
.bovebbenStilus{
    text-align: center;
    background-color: lightcyan;
    border: 1px solid lightcyan;
}
#orvosVonal{
    margin-bottom: -1px;
    width: 137px;
    margin-left: auto;
    margin-right: auto;
    
}
.orvosLeiras{
    text-align: center;
}

/*Idopntok.html_______________*/
@media only screen and (max-width: 480px) 
{
    .foglalasGomb{
        display: none;
    }
    .divider {
       display: none;
    }
    #szakrendelesek{
        width: 330px !important;
    }
    .szabad-gomb{
        margin-left: 40px !important;
    }
    .szabad-gombElso{
        margin-left: 40px !important;
    }
    #fNev{
        margin-bottom: 10px;
        width: 330px !important;
    }
    #fDatum{
        margin-left: 40px !important;
        width: 245px !important;
    }
    #fEmail{
        width: 330px !important;
        margin-bottom: 10px;
    }
    #fOrvos{
        margin-left: 40px !important;
        width: 330px !important;
    }
    #fTelefon{
        width: 330px !important;
        margin-bottom: 10px;
    }
    #fSzakrendeles{
        margin-left: 40px !important;
        width: 330px !important;
    }
    .FoglalasGomb
    {
        width: 330px !important;
    }
    .visszaGomb
    {
        width: 330px !important;
        margin-left: 40px !important;
    }


}
.containerIdopontok {
    justify-content: center;
}
.contentIdopontok {
    max-width: 900px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
#idopontSzabalyzat{
    background-color: lightgray;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
#szakrendelesek{
    width: 300px;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 40px;
    padding: 8px;
    font-size: 17px;
}
#orvosNev
{
    margin-top: 10px; 
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
}
.szakteruletValasztas{
    display: flex;
    align-items: center; /* Függőleges középre igazítás */
    gap: 10px; /* Térköz az elemek között (opcionális) */
    margin-bottom: 40px;
}
.divider {
    flex-grow: 1;
    border-top: 1px solid #000; /* Vízszintes vonal megjelenítése */
    margin: 0 10px; /* Térköz a select és a button között */
    margin-top: 15px;
}
.foglalasGomb{
    background-color: #113F67;
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    margin-right: 40px;
    transition: background-color 0.3s;
}
.foglalasGomb:hover{
    background-color: lightskyblue; 
    border: 0px;
    color: #000;
}
.orvosGomb
{
    background-color: #113F67;
    color: white;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px;
    padding: 5px;
    padding-left: 23px;
    padding-right: 23px;
    margin-right: 40px;
    transition: background-color 0.3s;
}
.orvosGomb:hover
{
    background-color: lightskyblue; 
    border: 0px;
    color: #000;
}
#datumValasztas{
    margin-left: 40px;
    border: 2px solid black;
    background-color: lightcyan;
    border-radius: 5px;
    width: 250px;
    margin-top: 15px;
}
.szabad-gombElso
{
    margin: 5px;
    padding: 10px;
    background-color: #113F67;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
    transition: background-color 0.3s;
}
.szabad-gombElso:hover {
    background-color: lightskyblue;
    color: black; 
}
.szabad-gomb
{
    margin: 5px;
    padding: 10px;
    background-color: #113F67;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.szabad-gomb:hover {
    background-color: lightskyblue;
    color: black; 
    
}
.foglalt-gombElso
{
    margin: 5px;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin-top: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
}
.foglalt-gomb
{
    margin: 5px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    
}
#fNev
{
    color: gray;
    border-radius: 3px;
    border: 1px solid #113F67;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
    width: 260px;
}
#fEmail{
    color: gray;
    border-radius: 3px;
    border: 1px solid #113F67;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
    width: 260px;
}
#fTelefon{
    color: gray;
    border-radius: 3px;
    border: 1px solid #113F67;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
    width: 260px;
}
#fDatum{
    color: black;
    border-radius: 3px;
    border: 1px solid #113F67;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    font-weight: bold; 
    width: 170px;
}
#fIdopont{
    color: black;
    border-radius: 3px;
    border: 1px solid #113F67;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 7px;
    font-weight: bold;
    width: 75px; 
}
#fOrvos{
    color: black;
    border-radius: 3px;
    border: 1px solid #113F67;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 255px;
    margin-left: 10px; 
}
#fSzakrendeles{
    color: black;
    border-radius: 3px;
    border: 1px solid #113F67;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 255px;
    margin-left: 10px; 
}
.FoglalasGomb
{
    margin: 5px;
    padding: 10px;
    background-color: #113F67;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 40px;
    transition: background-color 0.3s;
    font-size: 15px;
}
.FoglalasGomb:hover
{
    background-color: lightskyblue;
    color: black;
}
.visszaGomb
{
    margin: 5px;
    padding: 10px;
    background-color: #113F67;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px;
    padding-left: 57px;
    padding-right: 57px;
    margin-left: 10px;
    transition: background-color 0.3s;
    font-size: 15px;
}
.visszaGomb:hover
{
    background-color: red;
    color: black;
}
/*kezeleseink.html*/
.szakKep{
    width: 300px;
    height: 250px;
    border-radius: 3px;
    margin-top: 12px;
}
.szakNev{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.szakAr{
    text-align: center;
    margin-top: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.szakLeiras{
    margin-top: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/*Elerhetosegek.html*/
.lablec{
    background-color: #113F67;
    color: white;
    border-radius: 25px;
}
.lablecKeret{
    max-width: 1200px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 110px;
}
.lablecTartalom{
    margin-top: 30px;
    margin-left: 25px;
}